MONGO_DB_NAME=YOUR_DB_NAME
MONGO_USER=YOUR_USER_MONGO_NAME
MONGO_PASSWORD=YOUR_PASSWORD_MONGO_NAME
MONGO_HOST=YOUR_HOST_MONGO_NAME
URL_SCRAP='URL_SCRAP'

URL_AUTH = 'http://localhost:xxxx/api/auth/'
URL_JOBS = 'http://localhost:xxxx/api/jobs/'
URL_FAVJOBS = 'http://localhost:xxxx/api/favsjobs/'
GROQ_API_KEY = 'your_groq_api_key'